In [8]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

  Downloading lxml-4.5.2-cp37-cp37m-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
Successfully installed lxml-4.5.2

In [1]:
import splinter

In [2]:
from splinter import Browser
import pandas as pd
from time import sleep

In [3]:
browser = Browser("chrome")

In [4]:
# url = f"https://fantasydata.com/nfl/fantasy-football-leaders?position={}&season={}&seasontype=1&scope=1&subscope=1&startweek=1&endweek=1&aggregatescope=1&range=3"
browser.visit("https://fantasydata.com/nfl/fantasy-football-leaders?season={2019}&seasontype=3&scope=1&subscope=1&aggregatescope=1&range=3")

In [7]:
dfs = []
for year in range(2002, 2020):
    for position in range(1, 12):
        url = f"https://fantasydata.com/nfl/fantasy-football-leaders?position={position}&season={year}&seasontype=1&scope=1&subscope=1&startweek=1&endweek=1&aggregatescope=1&range=1"
        browser.visit(url)
        sleep(3)
        tables = pd.read_html(browser.html)

In [5]:
        tables = pd.read_html(browser.html)

In [8]:
tables

[Empty DataFrame
 Columns: [#, Player, FPTS]
 Index: [],
      0                                                  1       2
 0    1  Logan Ryan  CB  TEN  113  TOT TCK  •  7  TFL  ...  162.15
 1    2  Budda Baker  FS  ARI  147  TOT TCK  •  9  TFL ...  152.90
 2    3  Eric Reid  SS  CAR  130  TOT TCK  •  7  TFL  •...  150.00
 3    4  Jamal Adams  SS  NYJ  75  TOT TCK  •  13.5  TF...  143.15
 4    5  Jordan Poyer  SS  BUF  107  TOT TCK  •  5.5  T...  128.00
 5    6  Vonn Bell  SS  NO  89  TOT TCK  •  6  TFL  •  ...  126.90
 6    7  Landon Collins  SS  WAS  117  TOT TCK  •  9.5 ...  122.90
 7    8  Harrison Smith  SS  MIN  85  TOT TCK  •  5  TF...  117.40
 8    9  Malcolm Jenkins  SS  PHI  81  TOT TCK  •  9  T...  116.90
 9   10  Marlon Humphrey  CB  BAL  65  TOT TCK  •  5  T...  116.00
 10  11  Shawn Williams  SS  CIN  114  TOT TCK  •  6  T...  114.30
 11  12  Antoine Bethea  FS  NYG  110  TOT TCK  •  3  T...  113.50
 12  13  Tracy Walker  FS  DET  103  TOT TCK  •  6  TFL...  112.50
 13  14  Minkah Fitzpatrick  FS  PIT  69  TOT TCK  •  T...  109.50
 14  15  Taylor Rapp  SS  LAR  100  TOT TCK  •  4  TFL ...  109.00
 15  16  Jessie Bates III  FS  CIN  99  TOT TCK  •  0.5...  109.00
 16  17  Justin Simmons  FS  DEN  93  TOT TCK  •  2.5  ...  108.50
 17  18  Tre Flowers  CB  SEA  82  TOT TCK  •  2  TFL  ...  105.60
 18  19  Tyrann Mathieu  SS  KC  75  TOT TCK  •  3.5  T...  103.90
 19  20  Joe Haden  CB  PIT  65  TOT TCK  •  3  TFL  • ...  103.00
 20  21  Tavon Wilson  SS  DET  97  TOT TCK  •  3.5  TF...  101.70
 21  22  Stephon Gilmore  CB  NE  53  TOT TCK  •  20  P...  101.50
 22  23  Kevin King  CB  GB  66  TOT TCK  •  3.5  TFL  ...  100.70
 23  24  Erik Harris  SS  LV  74  TOT TCK  •  1.5  TFL ...   99.90
 24  25  Kevin Byard  FS  TEN  84  TOT TCK  •  2  TFL  ...   99.10
 25  26  Kyle Fuller  CB  CHI  82  TOT TCK  •  TFL  •  ...   99.00
 26  27  Adrian Amos  FS  GB  84  TOT TCK  •  4.5  TFL ...   98.90
 27  28  Tre'Davious White  CB  BUF  58  TOT TCK  •  4....   98.40
 28  29  Marcus Peters  CB  BAL  53  TOT TCK  •  TFL  •...   97.50
 29  30  Terrell Edmunds  SS  PIT  105  TOT TCK  •  3.5...   96.50
 30  31  Eric Weddle  FS  LAR  108  TOT TCK  •  1.5  TF...   95.00
 31  32  Jabrill Peppers  SS  NYG  76  TOT TCK  •  6  T...   94.75
 32  33  Ha Ha Clinton-Dix  SS  CHI  78  TOT TCK  •  0....   93.50
 33  34  Mike Hilton  CB  PIT  65  TOT TCK  •  5.5  TFL...   93.00
 34  35  Levi Wallace  CB  BUF  76  TOT TCK  •  4  TFL ...   90.00
 35  36  Kareem Jackson  SS  DEN  71  TOT TCK  •  4.5  ...   89.00
 36  37  Jarrod Wilson  FS  JAX  79  TOT TCK  •  5.5  T...   88.50
 37  38  Ricardo Allen  FS  ATL  85  TOT TCK  •  5  TFL...   88.50
 38  39  Eric Rowe  SS  MIA  81  TOT TCK  •  TFL  •  8 ...   88.50
 39  40  Carlton Davis  CB  TB  60  TOT TCK  •  3  TFL ...   88.00
 40  41  Anthony Harris  FS  MIN  60  TOT TCK  •  TFL  ...   87.50
 41  42  Kenny Vaccaro  SS  TEN  84  TOT TCK  •  3  TFL...   87.10
 42  43  Byron Murphy Jr.  CB  ARI  78  TOT TCK  •  2  ...   87.00
 43  44  Janoris Jenkins  CB  NO  61  TOT TCK  •  16  P...   86.50
 44  45  Chuck Clark  SS  BAL  73  TOT TCK  •  3.5  TFL...   86.30
 45  46  Xavier Woods  FS  DAL  77  TOT TCK  •  1.5  TF...   86.00
 46  47  Chidobe Awuzie  CB  DAL  79  TOT TCK  •  TFL  ...   85.50
 47  48  Ronnie Harrison  SS  JAX  71  TOT TCK  •  3  T...   85.10
 48  49  Jaire Alexander  CB  GB  58  TOT TCK  •  2  TF...   85.00
 49  50  Charvarius Ward  CB  KC  74  TOT TCK  •  11  P...   85.00]

In [1]:
import pandas as pd

In [8]:
df = pd.read_clipboard()

ParserError: Expected 15 fields in line 3, saw 17. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.